textarea {
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  word-break: break-all;
}

input {
  padding: 0;
}

.markdown {
  * {
    font-family: 'NanumBarunGothic', sans-serif;
    word-break: keep-all;
  }

  section.title-section {
    margin-bottom: 48px;
  }

  .title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.17;
    color: var(--color-ui-primary-darkgray);
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 24px;
    
    min-height: 44px;
  }

  .sub-title {
    font-size: 1rem;
    line-height: 1.56;
    color: var(--color-ui-primary-darkgray);
    width: 100%;
    border: none;
    outline: none;

    min-height: 26px;
  }

  h1, h2, h3, h4, h5, h6, p {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    // letter-spacing: -0.4px;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.17;
  }
  h2 {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.23;
  }
  h3 {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.27;
  }
  h4 {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.27;
  }
  h5 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.27;
  }
  h6 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.27;
  }
  
  p {
    font-size: 16px;
    line-height: 2.0;
  }

  em {
    font-weight: 600;
  }


  ol, ul {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }
  li {
    font-size: 16px;
    line-height: 2.0;
  }

  pre {
    padding: 16px 24px;
  }
  code {
    font-family: 'Nanum Gothic Coding', monospace;
    
    margin: 0 2px;
    border-radius: 2px;
    color: var(--color-brand-orange);
    line-height: inherit;
    background-color: var(--color-ui-grayscale-gray-100);
  }

  blockQuote {
    background-color: var(--color-ui-grayscale-gray-200);
    border-radius: 2px;
    padding: 16px 24px;
    p {
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
}
